
.targetDiv {
    height:50px;
    width:50px;
    padding:3px;
    background-color:red;
    position:absolute;
}

.targetContent {
    max-height:100%;
    max-width:100%;
}

#calendar tr .header{
  height : 10px;
}

#calendar tr {
  height : 60px;
}

#calendar td{
  width : 70px;
}

#container {
  width:490px;
  height:480px;
  background-color: #AAF;
}

/*スタンプ一覧*/
.stamp_list, .img_list {
    height:50px;
    width:50px;
    margin:3px;
}

/*直接、幅高さを指定しておく*/
/*.stamp_list img{
  height:50px;
  width:50px;
}*/


/*選択されたスタンプ（背景）*/
.selected_stamp {
  border: 5px solid #A00;
}

/*crud処理をするボタン。 有効な時しか表示しない*/
.disable_btn{ display:none; }
